#fullpage{
    background: white;
    color: black;
}

#logo {
    height: 60px;
    margin-left: 30px;
}

#mainmenu{margin:auto}
.social-top {margin:0 }
.social-top li {
    display:inline-block;
    list-style-type:none;
    margin-left:14px;   }
.social-top li a {
    font-size:24px;
    color:#262823;
}

#content{
    min-height: 80vh;
}

footer{
    background-color: white;
}




.home_about img {
    width: 100%;
    height: auto;
    border-radius: 16px;
}
.home_about h2 {
    margin-top: 0;
}

.home_about{
    padding: 26px 0;
    margin-top: 16px;
}

.home_about:before{
    display: none;
}
